:root {
    --pale-bule: rgb(224, 232, 255);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: var(--pale-bule);
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px -85px;
}

.order-card {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-box-shadow: 0px 0 30px rgb(1 41 112 / 9%);
    -webkit-box-shadow: 0px 0 30px rgb(1 41 112 / 9%);
    box-shadow: 0px 0 30px rgb(1 41 112 / 9%);
}

.order-card .content {
    background-color: #fff;
    border-radius: 10px;
    width: 40ch;
}

.order-card .content .card-header {
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 25%;
}

.order-card .content .inner {
    padding: 2.8em;
}

.order-card .content .inner .card-description {
    text-align: center;
}

.order-card .content .inner .card-description h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -.5em;
}

.order-card .content .inner .card-description p {
    font-size: .9rem;
    line-height: 1.5em;
    color: var(--desaturated-blue);
}

.order-card .content .inner .card-plan {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: .5em;
    margin-bottom: 2em;
}

.order-card .content .inner .card-plan *+* {
    margin: 0 auto;
}

.order-card .content .inner .card-plan .music img {
    max-width: 70%;
    margin: .4em 0 0 .5em;
}

.order-card .content .inner .card-plan .plan h2 {
    font-size: .8rem;
    font-weight: 600;
    margin: .7em 0 .5em -1em;
}

.order-card .content .inner .card-plan .plan p {
    font-size: .8rem;
    margin-left: -1em;
    color: var(--desaturated-blue);
}

.order-card .content .inner .card-plan .change {
    font-size: .8rem;
    font-weight: 600;
    margin-top: 1.3em;
}

.order-card .content .inner .button {
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--bright-blue);
    border-radius: 10px;
    padding: 10px 28px;
    width: 100%;
    margin-bottom: 1.3em;
    -moz-box-shadow: 0px 15px 10px rgba(200, 200, 248, 0.479);
    -webkit-box-shadow: 0px 15px 10px rgba(200, 200, 248, 0.479);
    box-shadow: 0px 15px 10px rgba(200, 200, 248, 0.479);
}

.order-card .content .inner .button:hover, .order-card .content .inner.button:focus {
    background-color: hsl(245, 73%, 67%);
}

.order-card .content .inner .button-cancel {
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--desaturated-blue);
    display: flex;
    justify-content: center;
}

.order-card .content .inner .button-cancel:hover {
    color: var(--dark-blue);
}
